$paleRed: #fcc;
$paleGreen: #cfc;
$paleBlue: #ccf;
$paleCyan: #cff;
$paleMagenta: #fcf;
$paleYellow: #ffc;

$gray-1000: #ccc;

// ブレイクポイント
$breakpoint-sm-width: 450;
$breakpoint-md-width: 768;
$breakpoint-lg-width: 1200;
$breakpoint-xl-width: 1920;

// コンテナの横幅
$container-unset-width: 290;
$container-sm-width: 450;
$container-md-width: 768;
$container-lg-width: 1200;
$container-xl-width: 1920;

// 浮遊させるボックスの横幅
$box-unset-width: 290;
$box-sm-width: 390;
$box-md-width: 640;
$box-lg-width: 960;
$box-xl-width: 1200;

$box-height: 400;
$box-height-offset: 100;
